<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	       http://www.springframework.org/schema/beans/spring-beans.xsd
       		   http://www.springframework.org/schema/mvc
       	       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       	       http://www.springframework.org/schema/context
       	    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置创建 spring 容器要扫描的包 -->
    <context:component-scan base-package="com.itheima.controller"/>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置类型转换器工厂 -->
<!--    <bean id="converterService" class=-->
<!--            "org.springframework.context.support.ConversionServiceFactoryBean">-->
<!--        &lt;!&ndash; 给工厂注入一个新的类型转换器 &ndash;&gt;-->
<!--        <property name="converters">-->
<!--            <array>-->
<!--                &lt;!&ndash; 配置自定义类型转换器 &ndash;&gt;-->
<!--                <bean class="com.itheima.convert.DateConverter"/>-->
<!--            </array>-->
<!--        </property>-->
<!--    </bean>-->
    <!-- 装载转换器 -->
<!--    <mvc:annotation-driven conversion-service="converterService"/>-->
    <mvc:annotation-driven />
    <!--配置静态资源的访问映射，此配置中的文件，将不被前端控制器拦截 -->
    <mvc:resources mapping="/js/**" location="/js/" />

</beans>
