<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shf.dao.TeacherMapper">
    <!--    一对多-->
    <!--    按照结果嵌套查询-->
    <select id="getTeacher" resultMap="TeacherStudent">
        select s.id sid, s.name sname, t.name tname, t.id tid
        from teacher t,
             tbstudent s
        where s.tid = t.id
          and t.id = #{id}
    </select>

    <resultMap id="TeacherStudent" type="teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="students" ofType="tbstudent">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <!--            <result property="tid" column="tid"/>-->
            <association property="teacher" javaType="teacher">
                <result property="id" column="tid"/>
                <result property="name" column="tname"/>
            </association>
        </collection>
    </resultMap>


    <!--    ========================================================================-->
    <!--    按照查询嵌套处理-->
    <select id="getTeacher2" resultMap="TeacherStudent2">
        select *
        from teacher
        where id = #{id};
    </select>

    <resultMap id="TeacherStudent2" type="teacher">
        <!--        javaType  指定实体类中属性的类型   ofType  用来指定映射到list集合中的pojo类型    -->
        <!--        集合 collection 一对多-->
        <collection property="students" column="id"
                    javaType="ArrayList"
                    ofType="tbstudent"
                    select="getStudentByTeacherId"/>
    </resultMap>

    <select id="getStudentByTeacherId" resultType="tbstudent">
        select *
        from tbstudent
        where tid = #{id};
    </select>
</mapper>