<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shf.mapper.StudentsMapper">
    <!--    开启二级缓存-->
    <cache/>

    <!--    获取全部-->
    <select id="getStudentList" resultType="students">
        select *
        from students;
    </select>

    <!--    获取一个-->
    <select id="getStudentById" resultType="students" parameterType="int">
        select *
        from students
        where sno = #{sno};
    </select>

    <!--    添加-->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="sno!=0">
                sno,
            </if>
            <if test="sname!=null">
                sname,
            </if>
            <if test="ssex!=0">
                ssex,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="major!=null">
                major,
            </if>
        </trim>
    </sql>
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="sno!=0">
                #{sno},
            </if>
            <if test="sname!=null">
                #{sname},
            </if>
            <if test="ssex!=null">
                #{ssex},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
            <if test="major!=null">
                #{major},
            </if>
        </trim>
    </sql>
    <insert id="addStudent" parameterType="students">
        insert into students (<include refid="key"/>)
        values (<include refid="values"/>);
    </insert>

    <!--    更新-->
    <update id="updateStudent" parameterType="students">
        update students
        <set>
            <if test="sname!=null">
                sname=#{sname},
            </if>
            <if test="ssex!=null">
                ssex=#{ssex},
            </if>
            <if test="birthday!=null">
                ssex=#{birthday},
            </if>
            <if test="major!=null">
                major=#{major},
            </if>
        </set>
        where sno=#{sno};
    </update>

    <delete id="deleteStudent" parameterType="int">
        delete
        from students
        where sno = #{sno};
    </delete>

    <select id="getStudent" parameterType="students" resultType="students">
        select *
        from students
        <where>
            <if test="sno!=null and sno!=0">
                and sno=#{sno}
            </if>
            <if test="sname!=null">
                and sname=#{sname}
            </if>
            <if test="ssex!=null">
                and ssex=#{ssex}
            </if>
            <if test="birthday!=null">
                and ssex=#{birthday}
            </if>
            <if test="major!=null">
                and major=#{major}
            </if>
        </where>
    </select>
</mapper>