<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shf.mapper.TbStudentMapper">
    <!--    开启二级缓存-->
    <cache/>
    
    <select id="getStudentListByConditions" parameterType="tb_student" resultType="tb_student">
        select *
        from tb_student
        <where>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="major!=null and major!=''">
                and major=#{major}
            </if>
            <if test="sno!=null and sno!=''">
                and sno=#{sno}
            </if>
        </where>
    </select>

    <select id="getStudentByLTId" parameterType="int" resultType="tb_student">
        select *
        from tb_student
        where id &lt; #{id};
    </select>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="id!=0 and id!=''">
                id,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="major!=null and major!=''">
                major,
            </if>
            <if test="sno!=null and sno!=''">
                sno,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="id!=0 and id!=''">
                #{id},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="major!=null and major!=''">
                #{major},
            </if>
            <if test="sno!=null and sno!=''">
                #{sno},
            </if>
        </trim>
    </sql>
    <insert id="addStudent" parameterType="tb_student">
        insert into tb_student (<include refid="key"/>)
        values (<include refid="value"/>);
    </insert>
</mapper>