<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xmlns:mvc="http://www.springframework.org/schema/mvc"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--       	    http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--       	    http://www.springframework.org/schema/mvc-->
<!--       	    http://www.springframework.org/schema/mvc/spring-mvc.xsd-->
<!--       	    http://www.springframework.org/schema/context-->
<!--       	    http://www.springframework.org/schema/context/spring-context.xsd">-->
<!--    &lt;!&ndash; 配置要扫描的包 &ndash;&gt;-->
<!--    <context:component-scan base-package="com.itheima.controller"/>-->
<!--    &lt;!&ndash; 配置注解驱动 &ndash;&gt;-->
<!--    <mvc:annotation-driven/>-->
<!--    -->
<!--</beans>-->
